@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	background-color:#222;
	color:#fff;
}

.container {
	margin:150px auto;
	max-width:480px;
}

h1 {
	text-align:center;
}

.demo {
	text-align:center;
	margin-top:1000px;
}

span.counter {
	display:block;
	margin:20px auto;
	font-size:64px;
	font-family: 'Pacifico', cursive, Arial;
}